{% extends "Home/padre.html" %}
{% load static %}
{% block division %}
<title>GatoBlog</title>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('https://i.pinimg.com/736x/43/a5/72/43a5720a3f1361249d940da501c60b87.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>GatoBlog</h1>
                            <span class="subheading">Nuestro informativo blog sobre gatos</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        {% for publicacion in objects %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    
                    <div class="post-preview">
                        <a href="{% url 'Detalles' publicacion.id%}">
                            <h2 class="post-title">{{publicacion.titulo}}</h2>
                            <h3 class="post-subtitle">{{publicacion.bajada}}</h3>
                        </a>
                        <p class="post-meta">
                            Publicado el {{publicacion.fecha}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'Publicaciones' %}">Más Publicaciones →</a></div>
                </div>
            </div>
        </div>


{% endblock %}

