{% extends "Home/padre.html" %}
{% load static %}
{% block division %}
<title>Eliminar publicacion  - GatoBlog</title>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('https://cdn.pixabay.com/photo/2023/05/04/23/08/cat-7971239_960_720.jpg')"> 
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Eliminar Publicacion</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container d-flex justify-content-center">
        <form method="post">
            {% csrf_token %}
            ¿Estás seguro(a) que deseas eliminar la publicación: "{{ object.titulo }}"?
            <br>
            <br>
            <div class="d-flex justify-content-center">
                <input class="btn btn-outline-dark" type="submit" value="Eliminar" />
            </div>
        </form>
    </div>
    <br>
    

{% endblock%}